<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.OData.Core" version="6.15.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.OData.Edm" version="6.15.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Microsoft.Spatial" version="6.15.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Portable.Ninject" version="3.3.1" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Prism.Core" version="6.3.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Prism.Forms" version="6.3.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Prism.Ninject.Forms" version="6.3.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Simple.OData.Client" version="5.0.0-alpha3" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="System.Spatial" version="5.7.0" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="Xamarin.Forms" version="2.3.3.193" targetFramework="portable45-net45+win8+wp8+wpa81" />
</packages>